{{> nav/nav-block}}


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="document-text">All Documents</label>
            <input type="text" id="document-text" class="form-control" aria-describedby="document-text" placeholder="Enter document Text">
          </div>
          <div class="form-group">
            <label for="document-description">Below is the list of all documents that you can add to the DBD Vault</label>
          _____________________________________________________
            {{> main/new}} 
          
          __________________________________________________________-
          
          </div>
          <div>Drivers License <button id="submit dl" class="btn btn-primary float-right">Add</button></div> 
        
          <div>Passport <button id="submit" class="btn btn-primary float-right">Add</button></div>
          <div>Will <button id="submit" class="btn btn-primary float-right">Add</button></div>
          
        </form>
        <h3>documents:</h3>
        <ul id="document-list" class="list-group">
          {{#each documents}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="document/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/document.js"></script>

{{> modal/login-block}}

