
// Drivers license number
    <div class = "form-group">
        <label class = "sr-only" for = "name">License Number</label>
        <input type = "text" class = "form-control" id = "dlnum">
    </div>
