<div class="modal" id="formInfo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <form class="col-11">
            <div class="form-group">
              <label for="document-type"><h5 class="modal-title"> Add a new </h5></label>
              <input type="text" class="form-control" id="newDocType" placeholder="Enter Document Type">
            </div>
          </form>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name"> First Name </label>
            <input type="text" class="form-control" id="formFirstName" onclick="this.select()" value="{{user.firstName}}">
          </div>
          <div class="form-group">
            <label for="name"> Last Name </label>
            <input type="text" class="form-control" id="formLastName" onclick="this.select()" value="{{user.lastName}}">
          </div>

          <hr>

          {{!-- Add ID number --}}
          <div class="row">
            <div class="col-5">
              <label for="documentID"> Document ID </label>
            </div>

            <div class="col-5 ">
              <input type="text" class="form-control" id="docIdNumber">
            </div>
          </div>

          {{!-- expiration Date --}}
          <div class="row">
            <div class="col-5 ">
              <label> Expiration Date </label>
            </div>
            <div class="col-5 ">
              <input type="text" id="docExpiration">
            </div>
          </div>


          {{!-- Add attachment --}}
          <div class="row">
            <div class="col-5 ">
              Add Attachment
            </div>
            <div class="col-5 ">
              <input type="file" name="docPDF" id="docPDF">
            </div>
          </div>


          {{!-- Additional info --}}
          <div class="row">
            <div class="col-5 ">
              <label>Additional Information</label>
            </div>
            <div class="col-5 ">
              <textarea id="addInfo" rows="5" cols="32"></textarea>
            </div>
          </div>

          <div class="modal-footer">
            <button id="submitForm" type="button" class="btn btn-primary"> Add Document </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>