<div class="modal" id="formInfo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{docType}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name"> First Name </label>
            <input type="text" class="form-control" id="formFirstName" onclick="this.select()" value={{user.firstName}}>
          </div>
          <div class="form-group">
            <label for="name"> Last Name </label>
            <input type="text" class="form-control" id="formLastName" onclick="this.select()" value={{user.lastName}}>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button id="submitForm" type="button" class="btn btn-primary"> Add Document </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
      </div>
    </div>
  </div>
</div>
