{{> nav/nav-block user=false register=true}}

  <div class="container">
<h1>Add a new {{docType}}</h1>
    <!-- display certain sections based on docType
    display all partials that are true -->
<form>
    <div class="form-group">
        {{userInfo.firstName}}  {{userInfo.lasttName}}

              {{!-- Add ID number --}}
            <div class="row">   
                <div class="col-4"><div class = "form-group">
                    <label  for = "documentID">Document ID</label>
                </div>

                <div class="col-4 ">
                    <input type = "text" class = "form-control" id = "docIdNumber">
                </div>
            </div>   

        {{!-- expiration Date --}}>
            <div class="row">     
                <div class="col-4 ">
                    <label>Expiration Date</label>
                </div>
                <div class="col-4 "> 
                    <input type = "text"  id = "docExpiration"  value = "text here" />
                </div>
                

        {{!-- Add attachment --}}
            <div class="row">
                <div class="col-4 ">Add Attachment
                </div>
                <div class="col-4 ">
                    <input type="file" name="docPDF" id="docPDF">
                </div>
            </div>

        {{!-- Additional info --}}
            <div class="row">
                <div class="col-4 ">
                    <label>Additional Information</label>
                </div>
                <div class="col-4 ">
                    <input type = "text"  id = "addInfo" value = "text here" />
                </div>
            </div>

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>



